* {
	margin-top: 0.5em;
	box-sizing: border-box;
}

body {
	background-color: black;
}

.wrapper {
	height: 37em;
	max-width: 70em;
	margin: auto;
}

.slider {
	margin-left: 12%;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}

.wrapper > input {
	display: none;
}

.slides {
	height: inherit;
	position: absolute;
	width: inherit;
	background-color: black;
}

.slides img{
	max-width:50em;
}

.controls {
	margin-left: 50%;
	margin-top: -4em;
	position: absolute;
	z-index: 1;
}

.slide_lable{
	border: 0.1em solid #ddd;
	border-radius: 50%;
}

.wrapper label {
    cursor: pointer;
	display: inline-block;
	height: 0.8em;
	margin: 2.5em 0.8em 1em 1em;
	position: relative;
	width: 0.8em;
	border-radius: 50%;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4){
	background: #ddd;
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	max-width: inherit;
	z-index: 0;
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4{
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}

p{
	color: white;
	margin: 0.3em 0;
	font-size: 1.5em;
}


/* media */
@media (max-width: 500px){

	html { overflow-x: hidden;
	 }

	body{
		max-width: 500px;
		margin: 10px 0;
	}

	.wrapper {
		/* height: 37em; */
		max-width: 460px;
	}

	.controls {
		margin-left: 10em;
		margin-top: -22em;
	}

	.slider {
		margin-left: 8%;
		max-width: 460px;
	}

	.slides {
		max-width: 450px;
		height: 320px;
	}

	.slides img{
		width: 380px;
	}

   lable{
	margin: 2.5em 0.4em 1em 0.4em;
   }

	p{
    color: white;
    margin: 1em 0;
    font-size: 1.5em;
    z-index: 1;
	}
}
